<div>
    <h1 class= "w3-animate-opacity"><%= @repertoire.name %></h1>
</div>

<div class="w3-container"> 
  <h4>Composer</h4>
  <p><%= @repertoire.composer %></p>
  <hr>
</div>
<div class="w3-container"> 
  <h4>Duration</h4>
  <p><%= @repertoire.duration %> minutes</p>
  <hr>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<%= link_to "View All Repertoires", repertoires_path %>
<br>
<br>
<%= link_to "Go To Concert Page", concert_path(@repertoire.concert) %>