<h1>Browse Concerts</h1>
<%=form_tag "/concerts", :method => "get" do%>
    <%=label_tag "View Option"%>
    <%=select_tag 'mode', options_for_select(@view_options, @mode), :onchange => "this.form.submit();"%>
<% end %>
<h2> <%=@title%> </h2>
<%@concerts&.each do |concert|%>
    <div class="concertDisplay">
        <h3> <%=concert.name%></h3>
        <p> Time: <%=concert.format_date%><p>
        <p> Price: <%=concert.format_price%></p>
        <p> Location: <%=concert.concert_hall.location%></p>
        <p> Users interested: <%=concert.num_user_interested%></p>
        <p> Last updated <%=concert_date_format(concert)%><p>

    </div>
<% end %>
