<h1>Browse Concerts</h1>
<%=form_tag "/concerts", :method => "get" do%>
    <%=label_tag "View Options"%>
    <%=select_tag 'mode', options_for_select(@query_options, @mode), :onchange => "this.form.submit();"%>
    <%=select_tag 'view', options_for_select(@display_options, @displayed), :onchange => "this.form.submit();"%>
<% end %>
<div class="title-container" >
    <h2 style="text-align:center"> <%=@title%> </h2>
</div>
<div class="concerts-container" style="margin:auto;">
<%@concerts&.each do |concert|%>
    <div class="w3-card w3-hover-shadow", style="max-width:600px;margin:auto;">
        <header class="w3-container w3-blue">
            <br>
            <h3 > <%= link_to concert.name, concert_path(concert), style:"color:white;" %></h3>
            <br>
        </header>
        <div class="w3-container">
            <br>
            <p> <b>Time:</b> <%=concert.format_date%><p>
            <p> <b>Price:</b> <%=concert.format_price%></p>
            <p> <b>Location:</b> <%=link_to concert.concert_hall.name+" | "+concert.concert_hall.location, concert.concert_hall%></p>
            <p> <b>Orchestra:</b> <%= link_to concert.orchestra.name, concert.orchestra %>
            <p> <b>Users interested:</b> <%=concert.num_user_interested%></p>
            <p> <b>Last updated</b> <%=concert_date_format(concert)%><p>
        
        <% if (@user)%>
            <% if(@user.has_concert?(concert))%>
                <%=form_tag '/profile', method: 'post' do%>
                    <%=hidden_field_tag 'concert_id', concert.id%>
                    <%=submit_tag "Remove From List", class: "w3-button w3-red"%>
                <% end %>
            <% else %>
                <%=form_tag '/profile', method: 'delete' do%>
                    <%=hidden_field_tag 'concert_id', concert.id%>
                    <%=submit_tag "Add To List", class: "w3-button w3-green"%>
                <% end %>
            <% end %>
        <% end %>
        </div>
        <br>
    </div>
    <br>
<% end %>
</div>

<%=render partial: "bill"%>