<%= image_tag "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.laphil.com%2F&psig=AOvVaw1dSTBM3Tb_BTo9GKVBVww2&ust=1626503371682000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCOCQ17H75vECFQAAAAAdAAAAABAD", style: 'height:100%;width:auto;' %>
<br>
<h1><%= @concert.name %></h1>
Orchestra: <%= link_to @concert.orchestra, orchestra_path(@concert.orchestra) %><br>
Repertoires: <%= link_to "Today's Repertoires", repertoires_path %>
Music Type: <%= @concert.music_type %><br>
Concert Hall: <%= link_to @concert.concert_hall, concert_hall_path(@concert.concert_hall) %><br>
Date: <%= @concert.format_date %><br>
Ticket Price: <%= @concert.format_price %>
<br>
<br>
<br>
<br>
<br>
<%= link_to "View All Concerts", concerts_path %>