<div>
    <h1 class= "w3-animate-opacity"><%= @concert_hall.name %></h1>
</div>
<div class="w3-container"> 
  <h3>Location</h3>
  <p><%= @concert_hall.location %></p>
  <p>Built in <%= @concert_hall.date_built %></p>
  <hr>
</div>

 
<div class="w3-ul w3-hoverable">
    <li><h3>Past Concerts:</h3></li>
    <% @concert_hall.past_concerts&.each do |concert| %>
        <li><%= link_to concert.name, concert_path(concert) %></li>
    <% end %>
</div>

<div class="w3-ul w3-hoverable">
    <li><h3>Upcoming Concerts:</h3></li>
    <% @concert_hall.future_concerts&.each do |concert| %>
        <li><%= link_to concert.name, concert_path(concert) %></li>
    <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<button class="w3-button w3-round"><%= link_to "View All Concert Halls", concert_halls_path %></button>
